@media (max-width: 1000px) {
  body {
    background-color: #151515;
  }
  /* Page 2 */

  .page2 {
    padding-top: 0vh;
  }

  /* Page 3 */

  .page3 {
    padding: 0vh 0 7vh 0;
  }

  /* Page 4 */

  .page4-flex p {
    font-size: 1.4vw;
    width: 50%;
  }

  /* Page 5 */

  .page5 {
    min-height: 80vh;
    width: 100%;
    position: relative;
    background-color: #151515;
  }

  /* Footer */

  .footer {
    height: 60vh;
    width: 100%;
    background-color: #151515;
    position: relative;
    padding: 0 2vw 0 28vw;
    display: flex;
    flex-direction: column;
  }
}

@media (max-width: 600px) {
  body {
    overflow-x: visible;
  }

  #crsr {
    height: 4vh;
    width: 4vh;
    border-radius: 50%;
    border: 2px solid #fff;
    position: fixed;
    z-index: 9999;
    mix-blend-mode: difference;
    transform: translate(-50%, -50%);
    pointer-events: none;
    display: none;
  }

  .page1 {
    height: 60vh;
    width: 100%;
    padding-top: 1px;
  }

  .page1 #nav {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    padding: 4.2vw 5vw;
    position: fixed;
    width: 100%;
    /* background-color: red; */
    top: 0;
    left: 0;
  }

  #nav svg {
    scale: 0.8;
  }

  #nav .nav-part2 {
    display: none;
  }

  .hero {
    /* background-color: red; */
    width: 100%;
    margin-left: 6%;
  }

  .hero h1,
  .hero h2 {
    font-size: 10vw;
    line-height: 10vw;
    font-weight: 600;
  }

  .page1::before {
    content: "01";
    position: absolute;
    font-size: 6vw;
    font-weight: 500;
    font-family: "silk serif";
    left: 6%;
    top: 26%;
  }

  .hero:nth-child(2) {
    margin-top: 22vh;
  }

  /* Page 2 Vedio Container */

  .page2 {
    height: 60vh;
    width: 100%;
    padding-top: 0;
  }

  .video-container {
    height: 50vh;
    width: 100vw;
    left: 0;
  }

  /* Page Three started*/

  .page3 h2 {
    font-size: 10vw;
    margin-left: 12vw;
  }

  .page3 h2::before {
    font-size: 6vw;
    left: 0;
    top: -80%;
  }

  .page3 .underline {
    width: 90%;
    margin: 0 auto 2vw auto;
  }

  .image-div {
    height: 100%;
    width: 90%;
    position: relative;
    overflow: hidden;
    flex-shrink: 0;
    margin-top: 4vw;
  }

  .image-div:nth-child(1),
  .image-div:nth-child(6) {
    height: 100%;
    width: 90%;
  }

  .page3-circle1,
  .page3-circle2 {
    display: none;
  }

  /* Page 4 Start */

  .page4 {
    min-height: 60vh;
    padding: 8vh 0;
  }

  .page4-content {
    width: 100vw;
    margin: 0 0%;
  }

  .page4-content h2 {
    font-size: 10vw;
    text-align: center;
  }

  .page4-content h2::before {
    font-size: 6vw;
    left: 20%;
    top: -100%;
  }

  .page4-content .underline {
    width: 90%;
    margin: 5vw auto;
  }

  .page4-content .main-p-page4 {
    font-size: 4vw;
    width: 90%;
    margin: 0 auto 10vw auto;
  }

  .page4-flex {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .page4-flex img {
    width: 90%;
  }

  .page4-flex p {
    font-size: 4vw;
    width: 90%;
    margin: 10vw auto;
  }

  .page4-blue-section {
    width: 90vw;
    margin: 0 auto;
  }

  .blue-div-elem h4 {
    font-size: 4vw;
  }

  .blue-div-elem p {
    width: 50%;
    font-size: 3vw;
  }

  /* Page 5 Start */

  .page5 {
    min-height: 30vh;
    width: 100%;
  }

  /* Footer */

  .footer {
    height: 60vh;
    padding: 10vw 5vw 0 5vw;
  }

  .footer h2 {
    font-size: 10vw;
  }

  .footer h2::before {
    font-size: 6vw;
    left: 0%;
    top: -100%;
  }

  .underline {
    margin: 3vw 0 0 0;
  }

  .footer-div {
    display: flex;
    flex-wrap: wrap;
    padding-bottom: 3vw;
  }

  .footer-div h5 {
    font-size: 6vw;
  }

  .box {
    width: 50%;
  }

  .footer-div h6 {
    font-size: 4vw;
    margin-bottom: 2vw;
  }

  .footer > h5 {
    margin-bottom: 2vw;
    font-weight: 500;
    font-style: 1vw;
  }
}
